nav
{
	background-color: red;
}
#blanco
{
   background-color:#23B9BF;
   height: 180px;
   color: white;
}

#verde
{
   background-color: #127174;
   height: 180px;
   color: white;

}

#rojo
{
   background-color: #0D504C;
   height: 180px;
      color: white;
}
